:root {
  --main-color: rgb(3, 87, 3);
  --second-color: rgb(70, 65, 65);
  --background-color: rgb(129, 245, 129);
  --second-font: "Dancing Script", cursive;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 140px 0;
}

.hero h1 {
  font-size: 45px;
  color: var(--main-color);
}

.hero h2 {
  font-size: 35px;
  color: var(--second-color);
}

.hero p {
  font-family: var(--second-font);
  font-size: 45px;
  color: var(--second-color);
}

.hero button {
  font-size: 20px;
  font-family: var(--second-font);
  color: var(--second-color);
  padding: 12px;
  margin-top: 40px;
  border: 3px solid var(--second-color);
  border-radius: 5px;
  background-color: rgb(194, 190, 190);
  transition: all 200ms ease-in-out;
}

.hero button:hover {
  color: var(--main-color);
  font-weight: bold;
}

.home-icon {
}
