:root {
  --main-color: rgb(3, 87, 3);
  --second-color: rgb(70, 65, 65);
  --background-color: rgb(129, 245, 129);
  --second-background-color: rgb(219, 214, 214);
  --second-font: "Dancing Script", cursive;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 140px 0;
}

.hero h1 {
  font-size: 45px;
  color: var(--main-color);
}

.hero h2 {
  font-size: 35px;
  color: var(--second-color);
}

.hero p {
  font-family: var(--second-font);
  font-size: 45px;
  color: var(--second-color);
}

.hero button {
  font-size: 20px;
  font-family: var(--second-font);
  color: var(--second-color);
  padding: 12px;
  margin-top: 40px;
  border: 3px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--second-background-color);
  transition: all 200ms ease-in-out;
}

.hero button:hover {
  color: var(--main-color);
  font-weight: bold;
}

.helper {
  background-color: var(--second-background-color);
}

.helper h2 {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--main-color);
}

.helper .subtitle {
  font-size: 30px;
  font-family: var(--second-font);
}

.helper img {
  border: 3px solid var(--second-color);
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
}

.helper p {
  line-height: 1.8;
  margin-top: 15px;
  color: var(--second-color);
}

.helper a {
  display: block;
  text-align: center;
}

.helper button {
  font-size: 20px;
  font-family: var(--second-font);
  color: var(--second-color);
  padding: 12px 24px;
  margin-top: 40px;
  border: 3px solid var(--second-color);
  border-radius: 5px;
  background-color: var(--background-color);
  transition: all 200ms ease-in-out;
}

.helper button:hover {
  color: var(--main-color);
  font-weight: bold;
}

.all-three {
  padding: 0 90px;
}

.town {
  padding: 60px 40px;
}
